:root {
  --pink: lightpink;
  --blue: lightblue;
  --green: lightgreen;
  --purple: #8e44ad;
  --light: white;
  --ticketBackgroundColor: #ecf0f1;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.toolbox_cont {
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
}

.toolbox-priority-cont {
  height: 60%;
  width: 18rem;
  background-color: #393c3f;
  margin-left: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
}

.color {
  height: 1.5rem;
  width: 3rem;
}

.pink {
  background-color: var(--pink);
}

.blue {
  background-color: var(--blue);
}

.purple {
  background-color: var(--purple);
}

.green {
  background-color: var(--green);
}

.action-btn-cont {
  height: 60%;
  width: 10rem;
  background-color: var(--light);
  margin-left: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
}

.add-btn,
.remove-btn {
  font-size: 1.75rem;
}

.main_cont {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.ticket-cont {
  height: 10rem;
  width: 15rem;
  background-color: var(--ticketBackgroundColor);
  border-radius: 8px;
  position: relative;
}

.ticket-color {
  height: 10%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ticket-id {
  height: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 10px;
}

.ticket-area {
  height: 5rem;
  padding: 0.8rem 0.8rem 0.8rem 0.2rem;
  font-size: 1.25rem;
}

.lock-unlock {
  position: absolute;
  bottom: 0.7rem;
  right: 0.9rem;
  font-size: 1.25rem;
}

.modal_cont {
  position: fixed;
  height: 50vh;
  width: 50vw;
  left: 25vw;
  top: 25vh;
  box-shadow: 10px 10px 40px -4px rgba(0, 0, 0, 0.75);
  display: none;
}

.textarea-cont {
  height: 50%;
  width: 75%;
  font-size: 2rem;
  padding: 2rem;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
}

.priority-color-cont {
  background-color: black;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.priority-color {
  height: 3rem;
  width: 5rem;
}

.active {
  border: 0.6rem solid var(--light);
}
